# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Zi Wang\Desktop\Java Projects\Angular+Spring ECommerce\eCommerce-Angular-Spring-Boot-\02-backend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
